@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+SC:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Noto Serif SC', serif;
  }
}

@layer utilities {
  .font-serif {
    font-family: 'Noto Serif SC', serif;
  }
}
